

/* Estilos específicos para el componente de Register */
.register-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    padding-top: 50px;
    animation: fadeInSlideUp 1s ease-out; /* Animación de entrada */
}

.register-card {
    background-color: #2E2E2E; /* Fondo oscuro para la tarjeta */
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInSlideUp 1s ease-out; /* Animación de entrada */
}

.register-title {
    font-size: 28px;
    color: var(--color-titulo);
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: var(--color-titulo);
    margin-bottom: 5px;
}

input.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: var(--color-input-fondo);
    color: var(--color-input-texto);
    font-size: 16px;
}

button.register-button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-boton);
    color: var(--color-fondo);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.register-button:hover {
    background-color: var(--color-boton-hover);
}

button.register-button:disabled {
    background-color: #888; /* gris más claro */
    cursor: not-allowed;
    opacity: 0.6; /* lo hace más transparente */
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: var(--color-secundario);
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    color: var(--color-boton-hover);
}

.error-message {
    color: var(--color-error);
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}