
/* Estilos específicos para el componente Home */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    animation: fadeInSlideUp 1s ease-out; /* Animación de entrada */
}